.container {
  padding: 1rem;
  background-color: #564F55;

  flex: initial;
}
.container *{
  background-color: inherit;
  align-items: center;

}


.main {
  min-height: 100vh;

  flex: 1;
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;
  align-content: center;

}

.header h1:hover,
.header h1:focus,
.header h1:active {
  text-decoration: underline;
}

.header {
  padding: 1.2rem;
  flex-direction: inherit;
  display: flex;


  font-size: 4.8rem;
}
.header a1{
  font-size: inherit;
  color: #19CFF0;
}
.header a2{
  font-size: 2.4rem;
  color: #2fA08B;

}

.navBar{
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;

  padding-left: 8%;
  padding-right: 8%;


  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 100%;
  min-width: 100%;
}
.navBar navTab {
  font-size: 1.4rem;
  color: #2fA08B;
  padding: .8%;
}

.navBar navTab:hover{
  color:green;
}
.navBar navTab:focus{
  color:red;
}
.navBar navTab:active {
  color: #0070f3;
  border-color: #0070f3;
}

.body,
.body p{
  color: #24B8D4;
  font-size: 1.2rem;
  max-width: 140vh;
}

.footer {
  border-top: 1px solid #eaeaea;
  padding: 1.4rem;

  flex: 1;
  display: flex;

  justify-content:flex-start;
  align-items: center;

}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

}

.description {
  margin: 1rem;
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: center;
}

.code {
  background: #fafafa;
  border-radius: 5px;

  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;

  background-color: inherit;
}

.card {

  margin: .5rem;
  padding: 1.4rem;
  max-width: 200px;


  text-align: left;
  text-decoration: none;

  color: inherit;
  background-color:#19CFF0;
  border: 4px solid #505b63;
  border-radius: 15px;

  transition: color 0.15s ease, border-color 0.15s ease;



}

.card:hover{
  color:green;
}
.card:focus{
  color:red;
}
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  background-color: inherit;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  background-color: inherit;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 300px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.table{
}

.table tr {
  background-color: inherit;
}
